<%- include('../layouts/header.ejs')  %>

<main class="flex-grow"> <!-- This will grow to fill the available space -->
    <!-- Main content goes here -->
    <div class="container mx-auto py-5 px-20"> <!-- Added container with margins -->

        <form action="/articles/<%= article.id %>?_method=PUT" method="POST">
            <%- include('../articles/_form_fields.ejs')  %>
        </form>
    </div>
</main>
<%- include('../layouts/footer.ejs')  %>

 